# 2.1 Combining Orders and Orders_products_prior Data Sets

## Contents
### Import libraries and data sets
### Consistency checks on ords_priors df
### Merge ords and ords_prior
### Export to pickle

## Import libraries and data sets

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# create path
path = r'/Users/susanwang/Documents/CF_Tasks/Instacart Basket Analysis'

In [3]:
# import orders df
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col=False)

In [4]:
# check the output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [5]:
# import order_products_prior df
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col=False)

In [6]:
# check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## Consistency check on ords_prior df

In [7]:
# mixed_data check
for col in df_ords_prior.columns.to_list():
    weird = (df_ords_prior[[col]].map(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_ords_prior[weird]) > 0:
        print(col)
    else:
        print(f"all same type for {col}")

all same type for order_id
all same type for product_id
all same type for add_to_cart_order
all same type for reordered

In [8]:
# check for missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [9]:
# check for duplicates
df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]

In [10]:
df_ords_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

## Merge ords and ords_prior

### Check dimensions of dfs

In [11]:
df_ords.shape

(3421083, 7)

In [12]:
df_ords_prior.shape

(32434489, 4)

### Merge on df_ords

In [13]:
# df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

I have commented out this version above with the indicator , because I need to do a second merge later and cannot have a _merge column in my dataset. Will create a df merge without indicator.

In [14]:
# df_merged_large.head()

In [15]:
# check indicator
# df_merged_large['_merge'].value_counts()

In [16]:
# df merge without indicator
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id')

In [17]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [18]:
df_merged_large.shape

(32434489, 10)

## Export to pickle

In [19]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))