# 2.2 Combine Products with Orders Data Sets

## Contents
### Import libraries and data sets
### Check shape of dfs before merge
### Merge products and orders_products_combined dfs
### Export merged df

## Import libraries and data sets

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# path to project folder
path = r'/Users/susanwang/Documents/CF_Tasks/Instacart Basket Analysis'

In [3]:
# create df of products data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col=False)

In [4]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [5]:
# create df of orders_products_combined
df_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
df_comb.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

## Check shape of dfs before merge

In [7]:
df_prods.shape

(49672, 5)

In [8]:
df_comb.shape

(32434489, 10)

Common variable in both data sets is 'product_id'.

## Merge products and orders_products_combined dfs

In [15]:
# merge on outer to test
df_outer_test = df_comb.merge(df_prods, on='product_id', how='outer', indicator=True)

In [16]:
# check indicator
df_outer_test['_merge'].value_counts()

_merge
both          32404859
left_only        30200
right_only          11
Name: count, dtype: int64

In [10]:
# merge on inner
df_ords_prods = df_comb.merge(df_prods, on='product_id', indicator=True)

In [11]:
df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [12]:
#check indicator for this merge
merge_counts = df_ords_prods['_merge'].value_counts()

In [13]:
merge_counts

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
# copy to excel report
merge_counts.to_clipboard()

In [15]:
# check df shape after merge
df_ords_prods.shape

(32404859, 15)

## Export merged df

In [16]:
df_ords_prods.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))